$fonts: Helvetica;

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
	  @content; 
	}
	@-moz-keyframes #{$name} {
	  @content;
	}
	@-ms-keyframes #{$name} {
	  @content;
	}
	@keyframes #{$name} {
	  @content;
	} 
  }

@include keyframes(diceRoll) {
	0% {transform: translateY(-1000px) rotate(0deg);}
	50% {transform: translateY(0px) rotate(1800deg);}
	60% {transform: translateY(-100px) rotate(2160deg);}
	70% {transform: translateY(0px) rotate(2520deg);}
	80% {transform: translateY(-50px) rotate(2880deg);}
	90% {transform: translateY(0px) rotate(3240deg);}
	100% {transform: translateY(0px) rotate(3600deg);}
}
	

html {
	max-width: 100%;
	width: 100%;
	margin: 0px;
	background-color: #009900;
}
body {
	max-width: 100%;
	width: 100%;
	margin: 0px;
	background-color: #009900;
}
p {
	font-family: $fonts;
}
.label {
	font-weight: bold;
}
#top-bar {
	display: flex;
	width: 100%;
	height: 100px;
	background-color: black;
	h1 {
		color: white;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 3%;
	}
}
#roll-btn {
	margin-left: 42%;
	align-items: center;
	background-color: black;
	border: 0;
	border-radius: 100px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-flex;
	font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 20px;
	max-width: 480px;
	min-height: 40px;
	min-width: 0px;
	overflow: hidden;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	touch-action: manipulation;
	transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
	&:disabled {
		background-color: gray;
	}
}
#who-roll {
	display: flex;
	flex-direction: row;
	p {
		&:nth-child(1) {
			margin-right: 37%;
			margin-left: 20%;
		}
	}
}
#dice-flex {
	display: flex;
	flex-direction: row;
	img {
		max-height: 56px;
		max-width: 56px;
	}
}
#display-dice1 {
	margin-left: 50px;
}
#display-dice2 {
	margin-right: 110px;
}
#flex-container {
	display: flex;
	flex-direction: row;
}
.container-dicepad {
	width: 50%;
	margin-right: 20px;
	margin-left: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 150px 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "player-score opponent-score" "dice-pad dice-pad" "dice-pad dice-pad";
	p {
		text-align: center;
		font-weight: bold;
	}
}
.score-number {
	font-size: 50px;
}
.player-score {
	grid-area: player-score;
}
.opponent-score {
	grid-area: opponent-score;
}
.dice-pad {
	grid-area: dice-pad;
}
.container {
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 0fr 120px 120px 120px;
	gap: 10px 10px;
	overflow: auto;
	grid-auto-flow: row;
	grid-template-areas: ". ." ". ." ". ." ". .";
	p {
		text-align: center;
	}
}
.container-diceroll {
	img {
		margin: auto;
		margin-left: 20px;
		margin-bottom: 5px;
	}
	max-width: 200px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "dice-name dice-name" "dice-one dice-two";
}
.dice-name {
	grid-area: name;
}
.dice-one {
	grid-area: dice-one;
}
.dice-two {
	grid-area: dice-two;
}
.dice-img {
	width: 56px;
	height: 56px;
	background-size: contain;
}
#results-popup {
	opacity: 0;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	div {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 500px;
		min-width: 300px;
		padding: 10px;
		border-radius: 10px;
		background-color: rgb(189, 135, 55);
		color: white;
	}
	p {
		font-weight: bold;
		text-align: center;
	}
}
#close-popup {
	width: 120px;
	margin-left: 30%;
	margin-right: 40%;
	align-items: center;
	background-color: black;
	border: 0;
	border-radius: 100px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-flex;
	font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 20px;
	max-width: 480px;
	min-height: 40px;
	min-width: 0px;
	overflow: hidden;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	touch-action: manipulation;
	transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
}
